@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PT Sans"
}

header {
    margin-bottom: 24px;
    
    h1 {
        text-align: center;
    }
}

main {
    max-width: 870px;
    margin: 0 16px;
}

.add-todo-input {
    flex-grow: 2;
    padding: 14px;
    max-height: 48px;
}

.add-todo-btn {
    padding: 8px 12px;
    border: 1px solid #464646;
}

.add-input-container {
    display: flex;
    gap: 18px;
    margin-bottom: 12px;
}

.search-input {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 12px;
}

.search-todo-input {
    flex-grow: 2;
    padding: 14px;
    max-height: 48px;
}

.search-todo-btn {
    padding: 16px 22px;
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: center;
    cursor: pointer;
    background-image: url(./img/search.svg);
    border: 1px solid #464646;
}

input:hover, input:focus, input:active {
    outline: none;
    border: 2px solid #cd7801;
    cursor: text;
}

input:hover, .search-todo-btn:hover, .add-todo-btn:hover {
    cursor: pointer;
}

.filter-btn {
    padding: 16px 22px;
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: center;
    cursor: pointer;
    background-image: url(./img/filter.svg);
    border: 1px solid #464646;
}

.todo-list-container {
    max-width: 804px;
}

.todo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 4px;
    margin-bottom: 12px;
    background-color: #b7e2ee;
    width: 100%;
}

.todo-checkbox {
    width: 26px;
    height: 26px;
    margin-top: 14px;
    margin-left: 8px;
    margin-right: 12px;
    cursor: pointer;
    accent-color: #4CAF50;
}

.todo-info {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.todo-text {
    font-size: 24px;
    font-weight: 500;
}

.todo-creation-date {
    font-size: 16px;
    font-weight: 400;
}

.change-todo-btn {
    width: 28px;
    height: 28px;
    padding: 14px;
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: center;
    cursor: pointer;
    background-image: url(./img/change.svg);
    margin-top: 12px;
    margin-right: 8px;
    background-color: #f4ec20;
    border: 1px solid #767676;
}

.remove-todo-btn {
    width: 28px;
    height: 28px;
    padding: 14px;
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: center;
    cursor: pointer;
    background-image: url(./img/delete.svg);
    margin-top: 12px;
    margin-right: 8px;
    background-color: tomato;
    border: 1px solid #343434;
}

.todo:has(.todo-checkbox:checked) {
    background-color: #6acb8e;
}

.todo-checkbox:checked ~ .todo-info .todo-text {
    text-decoration: line-through;
}

